[*.cs]

# CS8601: 引用类型赋值可能为 null。
dotnet_diagnostic.CS8601.severity = none

# IDE1006: 命名样式
dotnet_diagnostic.IDE1006.severity = silent

# CS8604: 引用类型参数可能为 null。
dotnet_diagnostic.CS8604.severity = silent

# IDE0290: 使用主构造函数
dotnet_diagnostic.IDE0290.severity = silent

# IDE0058: 永远不会使用表达式值
dotnet_diagnostic.IDE0058.severity = silent
